script(type="text/x-template")#blog-root
  .blog__content(
    v-scroll="handleScroll"
    ref="blog"
    )
    .content__menu.js-aside-menu
      ul.content__menu-list.js-menu-list
        li(
          v-if="posts.length > 0"
          v-for="post in posts"
          ref="menuItems"
          ).content__menu-item.js-scroll-article
          button(
            type='button'
            /* ref="buttonMenu" */
            @click="scrollToBlog(post.title)"
            ).content__menu-link {{post.title}}
    .content__blog
      ul.blog.js-articles
        li.blog__item.js-article(
          v-if="posts.length > 0"
          v-for="post in posts"
          ref="blogItems"
          )
          .blog__title 
            p {{post.title}}
          .blog__date 
            p {{post.date}}
          .blog__text
            p {{post.content}}
